fastapi
uvicorn
gunicorn
langgraph
langgraph-checkpoint
langgraph-checkpoint-postgres
langchain
langchain-groq
langchain-community
langchain-tavily
tavily-python
requests
python-dotenv
psycopg[binary]
resend
